@import 'fonts.scss';

html, body {
    margin: 0;
    background-color: rgb(246, 249, 250);
}

* {
    font-size: calc(0.1 * 1.5vw + 1rem);
}

.italic {
    font-style: italic;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 33svw rgba(255, 144, 205, 0.825) inset;
    z-index: 1;
    pointer-events: none;
}