.navbar-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    background-color: blue;
    margin-bottom: 2rem;
}

.navbar-container div {
    color: white;
    text-align: center;
}

.navbar-container a {
    text-decoration: none;
    color: white;
}