.navbar-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    background-color: blue;
    margin-bottom: 1rem;
    z-index: 2;
    position: sticky;
}

.navbar-container * {
    font-size: 1.3ch !important;
    z-index: 2;
}

.navbar-container div {
    color: white;
    text-align: center;
    text-shadow: -0.06ex 0 0 currentColor, 0.06ex 0 0 currentColor;
    padding: 0.33rem;
    border-right: white 0.12rem solid;
    z-index: 2;
}

.navbar-container a {
    text-decoration: none;
    color: white;
    font-size: larger !important;
    z-index: 2;
}