.navbar-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    background-color: blue;
    margin-bottom: 2.5vmax;
}

.navbar-container div {
    color: white;
    text-align: center;
    text-shadow: -0.06ex 0 0 currentColor, 0.06ex 0 0 currentColor;
}

.navbar-container a {
    text-decoration: none;
    color: white;
}