.navbar-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    background-color: blue;
    margin-bottom: 1rem;
}

.navbar-container div {
    color: white;
    text-align: center;
    text-shadow: -0.06ex 0 0 currentColor, 0.06ex 0 0 currentColor;
    padding: 0.33rem;
    border-right: pink 0.12rem solid;
}

.navbar-container a {
    text-decoration: none;
    color: white;
    font-size: larger !important;
}