{% extends "base.html" %}
{% import "shortcodes/_macros.html" as macros %}
{% if page.title %}
{% block title %}{{ page.title }}{% endblock title %}
{% endif %}

{% block content %}
{{ macros::navbar() }}
    <div class="article-container">
        <section class="article">
            <div class="tangerine-blue">
                chem shesaxeb:
            </div>

            <br>
            პირველად რაც დავწერე და მოვიგონე ეს იყო “კუდკუცუნა ლეკვის ზღაპარი” 3 ან 4 წლის ასაკში. მადლობა დედას რომ შეინახა და ჩაიწერა, მე ხომ ალბათ არც გამახსენდებოდა. ცოტათი რომ წამოვიზარდე და თინეიჯერულ გაბრაზებულ წლებში ჩემი აზრების გარესამყაროში გაშვება დამჭირდა, გავაკეთე wordpress ბლოგი, რომელსაც ალბათ 3 ადამიანი თუ კითხულობდა. და ახლა ჩემს ოცდარაღაც წლებში ისევ მოვიდა დრო ჩემმა ფიქრებმა იხილონ შუქი ონლაინ. 

            <br>
            <br>
            <div class="tangerine-blue">
                ufro metad chem shesaxeb anu ra miyvars:
            </div>
            
            <ol>
                <li>მიყვარს ვაშლის წვენი, მაგრამ ყოველთვის არა</li>
                <li>მზიანი დილა</li>
                <li>თვალის შავი ფანქარი</li>
                <li>ყურსასმენებში მუსიკის მოსმენა გულის არევამდე დაუსრულებლად</li>
                <li>ფანქრით/კალმით წერა ფურცელზე</li>
                <li>ქუჩის კატებთან მისალმება</li>
                <li>ჩემი ნაწერების კითხვა დაუსრულებლად ისე რომ სიტყვები აზრს კარგავენ</li>
                <li>სიების გაკეთება</li>
                <li>წიგნები</li>
                <li>Frühstück am frühen Morgen</li>
                <li>ყველა ენა რუსულის გარდა</li>
                <li>ფეხით სიარული</li>
            </ol>
        </section>
    </div>
</div>
{% endblock content %}