{% extends "base.html" %}
{% import "shortcodes/_macros.html" as macros %}
{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
{{ macros::navbar() }}
<div class="article-container">
    {% if page.extra["img"] %}
        <div class="images" style="left:  0%" id="images-l"></div>
        <div class="images" style="right: 0%" id="images-r"></div>

        <style>
            .images {
                position: absolute;
                height: 100%;
                width: 23%;
                background-image: url("/{{ page.extra['img'] | safe }}");
                background-size: 100%;
                overflow: hidden;
            }
        </style>

        <script>
            window.onload = (() => {
                const body = document.body;
                const html = document.documentElement;
                
                const height = Math.max(
                    body.scrollHeight, body.offsetHeight,
                    html.clientHeight, html.scrollHeight, html.offsetHeight
                );
    
                document.getElementById("images-l").style.height = `${height}px`;
                document.getElementById("images-r").style.height = `${height}px`;
            });
        </script>
    {% endif %}

    <section class="article">
        {{ page.content | safe }}
    </section>
</div>
{% endblock content %}