{% extends "base.html" %}
{% import "shortcodes/_macros.html" as macros %}
{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
{{ macros::navbar() }}
    {% if page.extra["img"] %}
    <link preconnect="true" rel="preconnect" href="page.extra['img']">
    <div class="article-container">
        <div class="images" style="left:  0%" id="images-l"></div>
        <div class="images" style="right: 0%" id="images-r"></div>

        <style>
            .images {
                position: absolute;
                width: 23%;
                background-image: url("/{{ page.extra['img'] | safe }}");
                background-size: 100%;
                overflow: hidden;
            }
        </style>

        <script>
            window.onload = (() => {
                const body = document.body;
                const html = document.documentElement;
                
                let height = Math.max(
                    body.scrollHeight, body.offsetHeight,
                    html.clientHeight, html.scrollHeight, html.offsetHeight
                ).toString();

                if (window.innerWidth < 700) {
                    height = "";
                } else {
                    height += "px";
                }
    
                document.getElementById("images-l").style.height = height;
                document.getElementById("images-r").style.height = height;
            });
        </script>
    {% endif %}

    <section class="article">
        {{ page.content | safe }}
    </section>
</div>
{% endblock content %}