<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <script type="text/javascript" src="https://embeds.iubenda.com/widgets/545d9ba4-7c83-4230-bed5-88fc99c577d7.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VH8BYT6JHY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VH8BYT6JHY');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <meta name="description" content="CHEMI FIQREBI ONLINE">
    <meta name="author" content="{{ config.extra.author }}">
    <meta name="keywords" content="blog, elene, chemifiqrebi">
    <meta name="og:title" content="CHEMI FIQREBI ONLINE">
    <meta name="og:image" content="https://chemifiqrebi.online/imgs/lostmyname.jpg">
    <meta name="twitter:title" content="CHEMI FIQREBI ONLINE">
    <meta name="twitter:image" content="https://chemifiqrebi.online/imgs/lostmyname.jpg">
    <meta name="twitter:card" content="https://chemifiqrebi.online/imgs/lostmyname.jpg">

    <link preconnect="true" rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>