<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <meta name="description" content="CHEMI FIQREBI ONLINE">
    <meta name="author" content="{{ config.extra.author }}">
    <meta name="keywords" content="blog, elene, chemifiqrebi">
    <meta name="description" conent="kudkucuna lekvebis arqivi">
    <meta name="og:title" content="CHEMI FIQREBI ONLINE">
    <meta name="og:image" content="https://chemifiqrebi.online/imgs/lostmyname.jpg">
    <meta name="og:description" content="kudkucuna lekvebis arqivi">
    <meta name="twitter:title" content="CHEMI FIQREBI ONLINE">
    <meta name="twitter:description" content="kudkucuna lekvebis arqivi">
    <meta name="twitter:image" content="https://chemifiqrebi.online/imgs/lostmyname.jpg">
    <meta name="twitter:card" content="https://chemifiqrebi.online/imgs/lostmyname.jpg">
    
    <link preconnect="true" rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>