<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEMI FIQREBI ONLINE</title>

    <meta name="description" content="{% block description %}CHEMI FIQREBI ONLINE{% endblock description %}">
    <meta name="author" content="{{ config.extra.author }}">
    <link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) }}" />
</head>
<body>
    <h1>
        CHEMI FIQREBI ONLINE
    </h1>
</body>
</html>